{% extends 'person/detail.html' %}
{% load i18n %}
{% load humanize %}
{% load base %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-3">
            <img src="{{ object.get_img }}" alt="" class="img-fluid">
        </div>
        <div class="col col-12 col-sm-9">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="fw-bold">{% trans 'Identificación' %}</div>
                    <div>{{ object.identification }}</div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="fw-bold">{% trans 'Tipo de dentificación' %}</div>
                    <div>{{ object.identification_type }}</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col col-12 col-sm-6">
                    <div class="fw-bold">{% trans 'Nombre' %}</div>
                    <div>{{ object.name }}</div>
                </div>
                <div class="col col-12 col-sm-6">
                    <div class="fw-bold">{% trans 'Razón social' %}</div>
                    <div>{{ object.business_name }}</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col col-12 col-sm-6">
                    <div class="fw-bold">{% trans 'Correo electrónico' %}</div>
                    <div>{{ object.email }}</div>
                </div>
                <div class="col col-12 col-sm-6">
                    <div class="fw-bold">{% trans 'Teléfono' %}</div>
                    <div>{{ object.phone }}</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col col-12">
                    <div class="fw-bold">{% trans 'Persona de contacto' %}</div>
                    <div>{{ object.contact_person }}</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="fw-bold">{% trans 'Es suplidor' %}</div>
                    <div>{{ object.is_supplier|to_html }}</div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="fw-bold">{% trans 'Está activo' %}</div>
                    <div>{{ object.is_active|to_html }}</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="fw-bold">{% trans 'Límite de crédito' %}</div>
                    <div>{{ object.credit_limit|intcomma }}</div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="fw-bold">{% trans 'Tiempo límite de crédito' %}</div>
                    <div>{{ object.credit_limit_days }} {% trans 'dias' %}</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="fw-bold">{% trans 'Balance adeudado' %}</div>
                    <div>{{ object.get_balance_account_receivable|intcomma }}</div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4">
                    <div class="fw-bold">{% trans 'Saldo a favor' %}</div>
                    <div>{{ object.get_balance_account_payable|intcomma }}</div>
                </div>
            </div>
            <hr>
            <hr>
        </div>
    </div>
</div>
{% endblock content %}