{% extends 'inventory/detail.html' %}
{% load i18n %}
{% load humanize %}
{% load base %}


{% block detail %}
<div class="container detail">
    <div class="row">
        <div class="col col-12 col-sm-4">
            {% detail_field name="Código" value=object.code %}
        </div>
        <div class="col col-12 col-sm-8">
            {% detail_field name="Referencia" value=object.codename %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            {% detail_field name="Nombre" value=object.name %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            {% detail_field name="Descripción" value=object.description %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6">
            {% detail_field name="Grupo" value=object.group %}
        </div>
        <div class="col col-12 col-sm-6">
            {% detail_field name="Familia" value=object.family %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-4">
            {% detail_field name="Impuesto" value=object.tax %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4">
            {% detail_field name="Disponible" value=object.get_available.available %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4">
            {% if object.is_service %}
            <div class="alert alert-info p-2 m-0" title="{% trans 'Este artículo está marcado como de servicio y no afecta el inventario.' %}">
                {% svg 'info-circle-fill' %} {% trans 'Artículo de servicio' %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-4">
            {% detail_field name="Precio mínimo" value=object.min_price %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4">
            {% detail_field name="Precio máximo" value=object.max_price %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4">
            {% detail_field name="Costo promedio" value=object.get_average_cost|floatformat:"2"|intcomma %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>{% trans 'Almacén' %}</th>
                        <th class="text-end">{% trans 'Entradas' %}</th>
                        <th class="text-end">{% trans 'Salidas' %}</th>
                        <th class="text-end">{% trans 'Disponible' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, dic in object.get_available.warehouse.items %}
                    <tr>
                        <td>{{ dic.name }}</td>
                        <td class="text-end">{{ dic.inputs|intcomma }}</td>
                        <td class="text-end">{{ dic.outputs|intcomma }}</td>
                        <td class="text-end">{{ dic.available|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock detail %}


{% block detail_footer %}
<a class="btn btn-secondary btn-lg" href="{% url 'inventory-item-movement-list' company=company.pk item=object.pk %}">{% trans 'Movimientos' %}</a>
<hr>
{{ block.super }}
{% endblock detail_footer %}