{% extends 'inventory/detail.html' %}
{% load i18n %}
{% load humanize %}
{% load base %}


{% block detail %}
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-3 col-lg-2">
            {% detail_field name="Número" value=object.number %}
        </div>
        <div class="col col-12 col-sm-6 col-md-5 col-lg-4">
            {% detail_field name="Documento" value=object.document %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-4">
            {% detail_field name="Tipo de documento" value=object.document.doctype.get_generic_display %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-4">
            {% detail_field name="Artículo" value=object.item %}
        </div>
        <div class="col col-12 col-sm-6 col-md-8">
            {% detail_field name="Nombre" value=object.name %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-md-6">
            {% detail_field name="Persona" value=object.document.person %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
            {% detail_field name="Cantidad" value=object.quantity|intcomma %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
            {% detail_field name="Precio" value=object.price|intcomma %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
            {% detail_field name="Descuento" value=object.discount|intcomma %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
            {% detail_field name="Impuesto" value=object.tax|intcomma %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
            {% detail_field name="Importe" value=object.get_amount_with_discount|intcomma %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
            {% detail_field name="Total" value=object.get_total|intcomma %}
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-6">
            {% if not tax_already_included %}
                <div class="alert alert-info m-0">{% trans 'Impuesto ya incluido en el precio.' %}</div>
            {% endif %}
        </div>
    </div>
{% endblock detail %}