{% extends 'document/form.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap5 %}
{% load base %}


{% block content %}
<div class="container" id="document-form-app">

    <button-counter></button-counter>

    <div class="container-fluid">
        <div class="row">
            <div class="col col-12 col-md-7">
                <form action="" method="POST"> {% csrf_token %}
                    {% bootstrap_form_errors form %}
                    <div class="row border-bottom p-1">
                        <div class="col col-12 col-sm-6 col-md-4">
                            {% if form.warehouse %}{% bootstrap_field form.warehouse %}{% endif %}
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4">
                            {% if form.transfer_warehouse %}{% bootstrap_field form.transfer_warehouse %}{% endif %}
                        </div>
                    </div>
                    
                    <div class="row border-bottom p-1">
                        <div class="col col-12 col-sm-6 col-md-4">
                            {% if form.doctype %}{% bootstrap_field form.doctype %}{% endif %}
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4">
                            {% if form.number %}{% bootstrap_field form.number %}{% endif %}
                        </div>
                    </div>

                    <div class="row border-bottom p-1">
                        <div class="col col-12 col-sm-6 col-md-4">
                            {% if form.date %}{% bootstrap_field form.date %}{% endif %}
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4">
                            {% if form.expiration_date %}{% bootstrap_field form.expiration_date %}{% endif %}
                        </div>
                    </div>
                    
                    <div class="row border-bottom p-1">
                        <div class="col col-12 col-sm-6">
                            {% if form.person %}{% bootstrap_field form.person %}{% endif %}
                        </div>
                        <div class="col col-12 col-sm-6">
                            {% if form.person_name %}{% bootstrap_field form.person_name  %}{% endif %}
                        </div>
                    </div>
                    
                    <div class="row border-bottom p-1">
                        <div class="col col- col-sm-6 col-md-4 col-lg-3">
                            {% if form.currency %}{% bootstrap_field form.currency %}{% endif %}
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
                            {% if form.currency_rate %}{% bootstrap_field form.currency_rate %}{% endif %}
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-4">
                            {% if form.pay_taxes %}{% bootstrap_field form.pay_taxes %}{% endif %}
                        </div>
                    </div>
                    
                    <div class="row p-1">
                        <div class="col col-12">
                            {% if form.note %}{% bootstrap_field form.note %}{% endif %}
                        </div>
                    </div>
                    <hr>
                    <div>
                        <input class="btn btn-success me-1" type="submit" value="{% trans 'Guardar' %}">
                        {% if object.pk %}
                        <a class="btn btn-danger" href="{{ object.get_delete_url }}">{% trans 'Eliminar' %}</a>
                        {% endif %}
                    </div>
                    {{ form.media }}
                </form>
            </div>
            <div class="col col-12 col-md-5">
                <!-- Info widgets -->
                <!-- General info. -->
                <div class="container-fluid border p-3 mb-2 bg-white shadow-sm">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th>{% svg 'calculator' %} {% trans 'Total: ' %}</th>
                                <td class="text-end">{% vue 'intcomma(document.amount)' %}</td>
                            </tr>
                            <tr>
                                <th>{% svg 'cash-stack' %} {% trans 'Pagado: ' %}</th>
                                <td class="text-end">{% vue 'intcomma(document.payments_sum)' %}</td>
                            </tr>
                            <tr>
                                <th>{% svg 'graph-up' %} {% trans 'Balance: ' %}</th>
                                <td class="text-end">{% vue 'intcomma(document.balance)' %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid border p-3 mb-2 bg-white shadow-sm" style="max-height: 512px; overflow: auto;">
                    <h3>{% svg 'cash' %} {% trans 'Transacciones' %}</h3>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="text-start">{% trans 'Fecha' %}</th>
                                <th class="text-start">{% trans 'Usuario' %}</th>
                                <th class="text-end">{% trans 'Monto' %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object.get_transactions %}
                            <tr>
                                <td class="text-start">{{ obj.create_date }}</td>
                                <td class="text-start">{{ obj.create_user }}</td>
                                <td class="text-end">{{ obj.amount|floatformat:"2"|intcomma }}</td>
                                <td><a href="{{ obj.get_absolute_url }}">{% svg 'eye-fill' %}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <a class="btn btn-primary btn-sm" href="">{% trans 'Nuevo pago' %}</a>
                        <a class="btn btn-secondary btn-sm" href="">{% trans 'Estado de cuentas' %}</a>
                    </div>
                </div>
                <!-- changes history. -->
                <div class="mb-2">
                    {% history object extra_classes="shadow-sm" %}
                </div>
                <!-- notes. -->
                <div class="container-fluid border p-3 mb-2 bg-white shadow-sm" style="max-height: 512px; overflow: auto;">
                    <textarea v-model="content_new_note" class="form-control mb-1" cols="30" rows="2" placeholder="{% trans 'Nueva nota...' %}"></textarea>
                    <button @click="onAddNote" class="btn btn-secondary btn-sm w-100">{% trans 'Enviar nota' %}</button>
                    <hr>
                    <div v-for="note in notes" class="alert alert-light alert-dismissible fade show border shadow-sm my-1">
                        {% vue 'note.content' %}
                        <div><small class="text-muted"><b>{% vue 'note.username' %} </b> | <span>{% vue 'note.create_date' %}</span></small></div>
                        <button v-if="note.create_user == USER_ID" @click="onDeleteNote(note.id)" type="button" class="btn-close" aria-label="Delete" title="{% trans 'Eliminar' %}"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-8">
            <h2>{% trans 'Movimientos' %}</h2>
        </div>
        <div class="col col-4 text-end pb-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" @click="onAddMovement">
                {% svg 'plus-circle-fill' %} {% trans 'Nuevo movimiento' %}
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-resize">
            <thead>
                <tr>
                    <th></th>
                    <th><input type="checkbox" v-model="select_all_movements"></th>
                    <th>{% trans 'No.' %}</th>
                    <th>{% trans 'Referencia' %}</th>
                    <th>{% trans 'Nombre' %}</th>
                    <th>{% trans 'Cantidad' %}</th>
                    <th>{% trans 'Precio' %}</th>
                    <th>{% trans 'Descuento' %}</th>
                    <th>{% trans 'Impuesto' %}</th>
                    <th>{% trans 'Total' %}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="obj in movements">
                    <td>
                        <a @click="onEditMovement(obj)" class="py-0 px-1">{% svg 'pencil-fill' size='1rem' fill="var(--warning)" %}</a>
                        <a @click="onDeleteMovement(obj)" class="py-0 px-1">{% svg 'x-circle-fill' size='1rem' fill="var(--danger)" %}</a>
                    </td>
                    <td class="text-center"><input type="checkbox" :checked=select_all_movements></td>
                    <td>{% vue 'obj.number' %}</td>
                    <td>{% vue 'obj.item__codename' %}</td>
                    <td>{% vue 'obj.name' %}</td>
                    <td class="text-end">{% vue 'intcomma(obj.quantity)' %}</td>
                    <td class="text-end">{% vue 'intcomma(obj.price)' %}</td>
                    <td class="text-end">{% vue 'intcomma(obj.discount)' %}</td>
                    <td class="text-end">{% vue 'intcomma(obj.tax)' %}</td>
                    <td class="text-end">{% vue 'intcomma(obj.total)' %}</td>
                </tr>
            </tbody>
            <tfoot v-if="totals" class="fw-bold">
                <td colspan="7">{% vue 'totals.count' %} {% trans 'registro(s)' %}</td>
                <td class="text-end">{% vue 'intcomma(totals.discount)' %}</td>
                <td class="text-end">{% vue 'intcomma(totals.tax)' %}</td>
                <td class="text-end">{% vue 'intcomma(totals.total)' %}</td>
            </tfoot>
        </table>
    </div>
    <!-- movement-add-modal -->
    <div class="modal fade" id="movement-add-modal" tabindex="-1" aria-labelledby="Movement Add" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="movement-add-modal-label">{% trans 'Nuevo movimiento' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- {# Movement form. #}-->
                    <div class="container-fluid">
                        <!-- {# Global errores. #} -->
                        <ul v-if="errors.global" class="errorlist">
                            <li v-for="error in errors.global" class="text-danger small">{% vue 'error.message' %}</li>
                        </ul>
                        <!-- {# End Global errores. #} -->
                        <input type="hidden" id="id_movement_id" v-model="movement.id">
                        <input type="hidden" id="id_movement_item_id" v-model="movement.item_id">
                        <!-- Item search. -->
                        <div class="row">
                            <div class="col col-12 position-relative z-index-5000">
                                <input type="search" v-model="search.text" class="form-control" placeholder="{% trans 'Buscar artículo...' %}" v-on:input="onSearch">
                                <div v-if="search.count" class="shadow border position-absolute bg-white" style="max-height: 300px; overflow-y: auto; width: 97%">
                                    <table class="table table-sm table-hover m-0 mt-1">
                                        <thead>
                                            <th class="text-start">{% trans 'Nombre' %}</th>
                                            <th class="text-end">{% trans 'Precio' %}</th>
                                            <th class="text-end">{% trans 'Disponible' %}</th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in search.items" :id="'item-'+item.id" v-on:click="onSelect(item)">
                                                <td>{% vue 'item.codename' %} | {% vue 'item.name' %}</td>
                                                <td class="text-end">{% vue 'item.max_price' %}</td>
                                                <td class="text-end">{% vue 'item.available' %}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul v-if="errors.item" class="errorlist">
                                    <li v-for="error in errors.item" class="text-danger small">{% vue 'error.message' %}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12 col-sm-4">
                                <label class="w-100">{% trans 'Referencia' %}
                                    <input type="text" v-model="movement.item__codename" class="form-control" readonly>
                                </label>
                            </div>
                            <div class="col col-12 col-sm-8">
                                <label class="w-100">{% trans 'Nombre' %}
                                    <input type="text" v-model="movement.name" class="form-control">
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col col-6 col-sm-4">
                                <label class="w-100">{% trans 'Cantidad' %}
                                    <input type="number" v-model="movement.quantity" class="form-control" min="0">
                                </label>
                                <ul v-if="errors.quantity" class="errorlist">
                                    <li v-for="error in errors.quantity" class="text-danger small">{% vue 'error.message' %}</li>
                                </ul>
                            </div>
                            <div class="col col-6 col-sm-4">
                                <label class="w-100">{% trans 'Disponible' %}
                                    <input type="number" v-model="movement.available" class="form-control" readonly>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-6 col-sm-4">
                                <label class="w-100">{% trans 'Precio' %}
                                    <input type="number" v-model="movement.price" class="form-control" min="0">
                                </label>
                                <ul v-if="errors.price" class="errorlist">
                                    <li v-for="error in errors.price" class="text-danger small">{% vue 'error.message' %}</li>
                                </ul>
                            </div>
                            <div class="col col-6 col-sm-4">
                                <label class="w-100">{% trans 'Precio mínimo' %}
                                    <input type="number" v-model="movement.min_price" class="form-control" readonly>
                                </label>
                            </div>
                            <div class="col col-6 col-sm-4">
                                <div class="form-check" title="{% trans 'Indica que el impuesto ya está incluido en el monto (precio) especificado, entonces se extraerá el impuesto del monto indicado (si aplica).' %}">
                                    <label class="w-100 form-check-label">{% trans 'Impuesto ya incluido' %}
                                        <input type="checkbox" v-model="movement.tax_already_included" class="form-check-input">
                                    </label>
                                    <small class="form-text text-muted">{% trans 'Indique si el impuesto ya está incluido en el precio' %}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-6 col-sm-4">
                                <label class="w-100">{% trans 'Descuento %' %}
                                    <input type="number" v-model="movement.discount_percent" class="form-control" min="0">
                                </label>
                                <ul v-if="errors.discount" class="errorlist">
                                    <li v-for="error in errors.discount" class="text-danger small">{% vue 'error.message' %}</li>
                                </ul>
                            </div>
                            <div class="col col-6 col-sm-4">
                                <label class="w-100">{% trans 'Descuento total' %}
                                    <input type="number" v-model="movement.discount" class="form-control" readonly>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-6 col-sm-4">
                                <label class="w-100">{% trans 'Impuesto' %}
                                    <input type="number" v-model="movement.tax" class="form-control" readonly>
                                </label>
                                <ul v-if="errors.text-danger" class="errorlist">
                                    <li v-for="error in errors.tax" class="text-danger small">{% vue 'error.message' %}</li>
                                </ul>
                            </div>
                            <div class="col col-6 col-sm-4">
                                <label class="w-100">{% trans 'Total' %}
                                    <input type="number" v-model="movement.total" class="form-control" readonly>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cerrar' %}</button>
                    <button type="submit" class="btn btn-primary" @click="onSaveMovement">{% trans 'Guardar' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Movement modal. -->
    <!-- Movement confirm delete Modal. -->
    <div class="modal" id="movement-confirm-delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Confirme la eliminación del movimiento' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{% trans '¿Seguro que desea eliminar el movimiento' %} <b>{% vue 'selected_movement_for_delete.name' %}</b> {% trans 'de número' %} <b>{% vue 'selected_movement_for_delete.number' %}?</b></p>
                </div>
                <div class="modal-footer">
                    <button @click="onCancelDeleteMovement" type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancelar' %}</button>
                    <button @click="onConfirmDeleteMovement" type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans 'Eliminar' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Movement confirm delete Modal. -->
    <!-- Message Modal. -->
    <div class="modal" id="message-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% vue 'message.title' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{% vue 'message.content' %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cerrar' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Message Modal. -->
</div>

<script src="/static/external/axios/axios.min.js"></script>
<script src="/static/external/vuejs/vue3/vue.3.0.5.js"></script>
<script>
    const DOCUMENT_PK = "{{ object.pk }}";

    const URLS = {
        api_document_document_detail: "{% if object.pk %}{% url 'api-document-document-detail' company=company.pk document=object.pk %}{% endif %}",
        api_document_document_documentnote_create: "{% if object.pk %}{% url 'api-document-document-documentnote-create' company=company.pk document=object.pk %}{% endif %}",
        api_document_document_documentnote_list: "{% if object.pk %}{% url 'api-document-document-documentnote-list' company=company.pk document=object.pk  %}{% endif %}",
        api_document_document_documentnote_delete: "{% if object.pk %}{% url 'api-document-document-documentnote-delete' company=company.pk document=object.pk  %}{% endif %}",
        api_inventory_item_list: "{% url 'api-inventory-item-list' company=company.pk %}",
        api_inventory_movement_form: "{% if object.pk %}{% url 'api-inventory-movement-form' company=company.pk document=object.pk %}{% endif %}",
        api_inventory_movement_delete: "{% if object.pk %}{% url 'api-inventory-movement-delete' company=company.pk document=object.pk %}{% endif %}",
        api_finance_currency_detail: "{% url 'api-finance-currency-detail' company=company.pk %}",
    }

    const TITLES = {
        name: "{% trans 'Nombre' %}",
        available: "{% trans 'Disponible' %}",
        price: "{% trans 'Precio' %}",
        min_price: "{% trans 'Precio mínimo' %}",
        max_price: "{% trans 'Precio máximo' %}",
        cost: "{% trans 'Costo' %}",
        you_must_save_the_document: "{% trans 'Debe guardar el documento.' %}",
        you_must_save_the_document_to_add_movements: "{% trans 'Debe guardar el documento para poder añadir los movimientos.' %}",
        write_something: "{% trans 'Escriba algo' %}",
    }

    const CSRF_TOKEN = "{{ csrf_token }}";

    const USER_ID = "{{ user.id }}";

    // Al cambiar la moneda se cambia la tasa.
    $(document).on('change', '#id_currency', function() {
        let id = $("#id_currency").val();
        $.ajax({url: URLS.api_finance_currency_detail + "?id=" + id, success: function(result) {
            $("#id_currency_rate").val(result.data.rate);
        }});
    });

</script>
<!-- <script src="/static/js/apps/components.js"></script> -->
<script src="/static/js/apps/document-form-app.js"></script>
{% endblock content %}