{% load i18n %}
{% load humanize %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ request.site.name }} {% if title %}| {{ title }}{% endif %}{% endblock %}</title>

    <script src="/static/external/jquery/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/static/external/bootstrap/bootstrap-5.0.0-beta1-dist/css/bootstrap.css">
    <script src="/static/external/bootstrap/bootstrap-5.0.0-beta1-dist/js/bootstrap.bundle.js"></script>

    <script src="/static/external/angularjs/angular-1.8.2.js"></script>

    <script src="/static/js/table-resize.js"></script>
    <script src="/static/js/utils-1.1.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/components.css">

    <!-- <link rel="stylesheet" href="/static/css/darkmode-1.1.css"> -->

</head>

<body class="container-fluid p-0">

    {% block navbar %}
    <!-- {# Barra de navegación #} -->
    <div class="position-relative">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border w-100">
            <div class="container-fluid">
                <div class="">
                    <a class="navbar-brand" href="{% if company %}{{ company.get_absolute_url }}{% else %}{% url 'index' %}{% endif %}">
                        {% if company.logo %}
                            <img src="{{ company.logo.url }}" alt="{{ company }}" style="height: 2rem; max-width: 20rem;">
                        {% elif company %}
                            {{ company }}
                        {% else %}
                            {{ request.site.name }}
                        {% endif %}
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item" title="{% trans 'Página principal' %}">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">{% svg 'house-fill' %}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ user }}">
                                {% svg 'person-fill' %}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">{{ user }}</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Cerrar sesión' %}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" title="{% trans 'Nofificaciones' %}">
                            <a class="nav-link active" aria-current="page" href="#">{% svg 'bell-fill' %}</a>
                        </li>
                        <li class="nav-item" title="{% trans 'Configuración' %}">
                            <a class="nav-link" href="#">{% svg 'gear-fill' %}</a>
                        </li>
                        <!-- <li class="nav-item">
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="{% trans 'Buscar' %}" aria-label="Search">
                            </form>
                        </li> -->
                    </ul>
                    {% breadcrumb request %}
                </div>
            </div>
        </nav>
    </div>
    {% endblock navbar %}


    {% block frame %}
    <div class="row px-2 pb-5">
        <aside id="section-left" class="col col-12 col-sm-12 col-md-3 col-lg-2 bg-white border-end pt-2">
            {% block frame_left %}
            <nav aria-label="Docs navigation">
                {% block frame_left_nav %}
                    {% menu request %}
                {% endblock %}
            </nav>
            {% endblock %}
        </aside>
        <div id="section-main" class="col col-12 col-sm-12 col-md-9 col-lg-10 h-100 px-0">
            {% block frame_right %}
            <aside class="border-bottom container-fluid py-2 bg-white shadow-sm">
                {% block frame_right_top %}
                <div class="row">
                    <div class="col col-12 col-sm-8">
                        <h1 class="mb-0">{% block subtitle %}{% firstof view.get_title object %}{% endblock %}</h1>
                    </div>
                    <div class="col col-12 col-sm-4 text-end h1 mb-0">
                        {% block actions %}
                            {% list_action_links_for_object object %}
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}
            </aside>
            <main class="pt-3 pb-1" style="height: 600px; overflow: auto;" id="main">
                <div class="container">
                    {% bootstrap_messages request %}
                </div>
                
                {% block content %}
                {% endblock content %}

                {% if settings.DEBUG == True and request.GET.show_developer_data %}
                    {% developer_data view request %}
                {% endif %}
            </main>
            {% endblock %}
        </div>
    </div>
    {% endblock %}



    <footer class="bg-dark">
        {% block footer %}
        <div class="container-fluid p-4">

        </div>
        {% endblock footer %}
    </footer>
</body>


<script>

    // Formatea el contenido de los elementos con la clase 'intcomma' para que
    // tengan un aspecto numérico por división de miles.
    var intcomma_elements = document.querySelectorAll(".intcomma");
    intcomma_elements.forEach(function(element) {
        element.innerText = intcomma(element.innerText);
    });

    // Ajusta el tamaño del elemento 'main' para que su contenido se muestre completo.
    var main = document.getElementById("main");
    var body = document.querySelector("body");
    main.style.height = body.offsetHeight - 150 + "px";

</script>

</html>