{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap5 %}


{% block actions %}
    {% list_action_links_for_object request object defaults="create list detail delete" %}
{% endblock %}


{% block content %}
<div class="container-fluid detail">
    {% block form %}
        <form action="" method="POST">
            {% csrf_token %}
            {% block fields %}
                {% bootstrap_form form %}
            {% endblock fields %}
            {{ form.media }}

            {% block buttons %}
            <div class="row">
                <div class="col col-12 col-sm-6">
                    {% block buttons_left %}
                    <input type="submit" class="btn btn-success" value="{% trans 'Guardar' %}">
                    {% endblock %}
                </div>
                <div class="col col-12 col-sm-6 text-end">
                    {% block buttons_right %}
                    {% endblock %}
                </div>
            </div>
            {% endblock buttons %}
        </form>
    {% endblock form %}
</div>
{% endblock content %}