{% extends 'base/base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap5 %}
{% load base %}


{% block actions %}
    {% create_button request model=object_list.model size="1.5rem" %}
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="GET" class="row mb-2">
        {% block search %}
            {% with view.get_search_form as search_form %}
                {% if search_form %}
                    {% for field in search_form %}
                        <div class="col col-auto">{% bootstrap_field field size="small" %}</div>
                    {% endfor %}
                    <div class="col col-auto">
                        <input class="btn btn-outline-secondary btn-sm" type="submit" value="&#128270;" title="{% trans 'Buscar.' %}">
                        <a class="btn btn-outline-secondary btn-sm" href="{{ request.path }}" title="{% trans 'Borrar filtros y mostrar todos.' %}">X</a>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock search %}
    </form>
    {% block list %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-resize">
            <thead class="table-light">
                <tr>
                    <th class="text-truncate" style="width: 2rem"><input type="checkbox" name="" id="check-item-all"></th>
                    <th class="text-truncate" style="width: 2rem;"></th>
                    {% for name, verbose_name in view.get_list_display %}
                        <th class="text-truncate">{{ verbose_name.capitalize }}</th>
                    {% endfor %}
                    <th class="text-truncate" style="width: 6rem">{% trans 'Acciones' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for obj_capsule in view.object_list %}
                <tr>
                    <td class="text-center text-truncate"><input type="checkbox" name="" id="check-item-{{ obj_capsule.id }}"></td>
                    <td class="text-center text-truncate">
                        <a href="{{ obj_capsule.get_absolute_url }}">
                            <img src="{{ obj_capsule.get_img }}" alt="" style="width: 1rem; height: auto; margin-right: 0.5rem;">
                        </a>
                    </td>
                        {% for attname, item in obj_capsule.get_values.items %}
                            {% if attname in view.list_display_links %}
                                <td class="text-truncate {{ item.cssclass }}">
                                    <a href="{{ obj_capsule.get_absolute_url }}">{{ item.value|to_html }}</a>
                                </td>
                            {% else %}
                                <td class="text-truncate {{ item.cssclass }}">{{ item.value|to_html }}</td>
                            {% endif %}
                        {% endfor %}
                    <td class="text-center text-truncate">{% list_action_links_for_object obj_capsule size="1rem" %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock list %}
    {% pagination page_obj request %}
</div>
{% endblock content %}