{% load i18n %}
{% load tz %}
{% load base %}
<!-- history -->
{% if object.pk %}
{% with object.get_history as history %}
<div class="p-3 bg-white border {{ extra_classes }}" style="max-height: 512px; overflow: auto;">
    <h3>{% svg 'clock-history' %} {{ title }}</h3>
    {% if not history %}
    <div class="alert alert-warning">
        <b>{{ object }}</b> {% trans 'no tiene historial de cambios.' %}
    </div>
    {% else %}
    <table class="table table-sm">
        <thead>
            <tr>
                <th class="text-start">{% trans 'Fecha' %}</th>
                <th class="text-start">{% trans 'Usuario' %}</th>
                <th class="text-end">{% trans 'Acción' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in history %}
            <tr title="{{ obj.history_change_reason }}">
                <td>{{ obj.history_date }}</td>
                <td>{{ obj.history_user }}</td>
                <td class="text-end">{{ obj.history_type|to_html }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endwith %}
{% endif %}
<!-- End history -->