{% extends 'warehouse/detail.html' %}
{% load base %}


{% block detail %}
<div class="container detail">
    <div class="row">
        <div class="col col-12">
            {% detail_field name="Nombre" value=object.name %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            {% detail_field name="Dirección" value=object.address %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6">
            {% detail_field name="Teléfonos" value=object.phones %}
        </div>
        <div class="col col-12 col-sm-6">
            {% detail_field name="Correo electrónico" value=object.email %}
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6">
            {% detail_field name="Activo" value=object.is_active %}
        </div>
    </div>
</div>
{% endblock detail %}