{% extends 'finance/detail.html' %}
{% load i18n %}
{% load humanize %}
{% load base %}


{% block content %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-resize">
            <thead class="table-light">
                <tr>
                    <th>{% trans 'Número' %}</th>
                    <th>{% trans 'Fecha' %}</th>
                    <th>{% trans 'Pagado por' %}</th>
                    <th>{% trans 'Forma de pago' %}</th>
                    <th>{% trans 'Monto' %}</th>
                    <th>{% trans 'Balance' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object.get_transactions %}
                <tr>
                    <td>{{ obj.get_number }}</td>
                    <td>{{ obj.create_date }}</td>
                    <td>{{ obj.person_name }}</td>
                    <td>{{ obj.payment_method|readable }}</td>
                    <td class="text-end">{{ obj.amount|intcomma }}</td>
                    <td class="text-end">{{ obj.balance|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="fw-bold">
                <tr>
                    <td colspan="4"></td>
                    <td class="text-end">{{ object.get_payments_sum|intcomma }}</td>
                    <td class="text-end">{{ object.get_balance|intcomma }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock content %}